<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
<link rel="shortcut icon" type="image/png" href="/assets/favicon/apple-touch-icon.png" sizes="180x180">
<link rel="shortcut icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="shortcut icon" type="image/png" href="/assets/favicon/android-chrome-512x512.png" sizes="512x512">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
<link rel="manifest" href="/assets/favicon/site.webmanifest">

{% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
    {% endfor %}
{% endif %}

<!-- end custom head snippets -->
