html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

nav.toc {
  margin-top: 1em;
  @include breakpoint($large) {
      margin-top: -2.25em;
  }
  @include breakpoint($x-large) {
      margin-top: -2.25em;
      margin-left: 1em;
  }
}

/* Custom blockquote style with slimmer margins*/
blockquote.trimb {
  margin-top: 0.35em;
  margin-bottom: 1em;
  font-style: normal;
}
