html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

nav.toc {
  margin-top: 1em;
  @include breakpoint($large) {
      margin-top: -2.25em;
  }
  @include breakpoint($x-large) {
      margin-top: -2.25em;
      margin-left: 1em;
  }
}

/* Custom blockquote style with slimmer margins*/
blockquote.trimb {
  margin-top: 0.35em;
  margin-bottom: 1em;
  font-style: normal;
}

.text-error {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.text-error:before {
  content: '\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f\fe4f'; /* too much? */
  max-width: 100%;
  position: absolute;
  white-space: nowrap;
  bottom: -3px;
}
.text-error.grammar:before {
  color: green;
}
.text-error.spelling:before {
  color: red;
}
.text-error.other:before {
  color: blue;
}
