/* Custom image style with border */
img.framec {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #fff;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 12px 0px rgba(0,0,0,0.25)
}

/* Custom blockquote style with slimmer margins*/
blockquote.trimb {
  margin-top: 0.35em;
  margin-bottom: 1em;
  font-style: normal;
}

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

h1.page__title {
  margin-top: 1.25em;
}

nav.toc {
  margin-top: -2.25em;
}

div.sidebar{
  margin-top: 1.6em;

  img {
    margin-bottom: 0.5em;
  }

}

aside.sidebar__right {
  &.sticky {
    top: 5.75em;
  }
}
