/* ==========================================================================
   Custom Colors
   ==========================================================================
*/

$gray: #7a7a88 !default;
$dark-gray: mix(#000, $gray, 40%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color : $lighter-gray !default;
$code-background-color-dark : $light-gray !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$border-color: mix(#fff, $muted-text-color, 75%) !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: #081214 !default;

$primary-color: #081214 !default;
$success-color : #0092ca !default;
$warning-color : #e67e22 !default;
$danger-color : #c0392b !default;
$info-color : $primary-color !default;
$focus-color: $success-color !default;
$active-color: mix(#fff, $primary-color, 90%) !default;

/* links */
$link-color: $muted-text-color !default;
$link-color-hover : $primary-color !default;
$link-color-visited : mix(#fff, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $light-gray !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

$body-color: #fff !default;

blockquote {
    color: $gray;
    margin: 2em 1em 2em 0;
    padding-left: 1em;
    padding-right: 1em;
    font-style: italic;
    border-left: 0.25em solid $light-gray !important;

    cite {
        font-style: italic;

        &:before {
            content: "\2014";
            padding-right: 5px;
        }
    }
}

.page__footer {
    color: $background-color !important; // override
}

.author__urls.social-icons .fa,
.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}

/* next/previous buttons */
.pagination {

    & .pagination--pager.disabled {
        color: $dark-gray;
    }

    & .pagination--pager {
        color: $lighter-gray;
        background-color: $primary-color;
        border-color: transparent;
    }

    &:visited {
        color: $light-gray;
    }
}

.ais-search-box .ais-search-box--input {
    background-color: $form-background-color;
}

h1.page__title {
    margin-top: 1.25em;
}

div.sidebar{
    margin-top: 1.6em;

    img {
        margin-bottom: 0.5em;
    }

}

aside.sidebar__right {
    &.sticky {
        top: 5.75em;
    }
}

.site-title {
    padding-left: 0.5em;
}

thead {
    background-color: mix(#fff, $primary-color, 90%);
    color: $dark-gray;
}

section.page__content > ol {
    list-style: none;
    margin-bottom: 1.5em;
    counter-reset: item;

    & li {
        counter-increment: item;
        margin-bottom: 1em;

        &:before {
            margin-left: -1em;
            margin-right: 0.75em;
            content: counter(item);
            background: $light-gray;
            border-radius: 50%;
            color: white;
            font-size: smaller;
            font-weight: bold;
            width: 1.5em;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
        }
    }
}

section.page__content > ul {
    list-style: none;
    margin-top: -1.25em;

    li::before {
        color: $light-gray;
        font-size: 167%;
        width: 1em;
        margin-left: -1em;
        vertical-align: middle;
        display: inline-block;
    }

    & li {
        margin-bottom: -0.75em;

        &::before {
            content: "\25b8";
        }
    }

    ul {
        list-style: none;
        margin-top: -0.75em;
        margin-bottom: 0.25em;

        li {
            margin-bottom: -0.75em;

            &::before {
                content: "\25b9";
            }
        }

        ul {
            margin-top: -0.3em;
            margin-bottom: 0.5em;

            li {
                margin-bottom: 0.12em;

                &::before {
                    content: ">";
                    font-size: 115%;
                    font-weight: bold;
                    width: 1.1em;
                }
            }
        }
    }
}
