---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* Font selections */
$serif: Georgia, Times, serif;
$sans-serif: "LatoWeb", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace: Monaco, Consolas, "Lucida Console", monospace;

$type-size-6: 0.86em;

/* Color selections */
$form-background-color: mix(#fff, #393e46, 75%);

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "webfonts/latofonts";
@import "custom/custom";
